@import url('https://fonts.googleapis.com/css?family=Abel');

h2 {
  font-family: 'Abel', sans-serif;
  font-size: 100px;
  color: #01579B;
  text-align: center;
  background-color: aquamarine;
}
.addbutton {
  background-color: #4FC3F7;
  border-radius: 25px;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  width: 100px;
  height: 30px;
  margin-left: 15px;
}
.deletebutton {
  background-color: #D50000;
  border-radius: 25px;
  font-family: 'Abel', sans-serif;
  font-size: 15px;
  width: 100px;
  height: 30px;
  margin-left: 15px;
}
ul {
  background-color: aquamarine;
  padding: 20px;
}
li {
  font-family: 'Abel', sans-serif;
  color: #01579B;
  text-align: left;
  list-style-type: square;
}
ul li {
  background-color: #4FC3F7;
  padding: 5px;
  margin-left: 35px;
}
.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}




